table {
  border: 2px solid black;
}

th {
  border-bottom: 2px solid black;
}

td {
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#add-book-form {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black;
  width: auto;
}

input[type="text"],
input[type="number"] {
  width: 10rem;
  margin-bottom: 0.4rem;
}

input[type='submit'] {
  margin-top: 0.4rem;
  width: 6rem;
}

#checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
